<header >
  <nav id="navbar">
    <div class="menu">
      <div>
        <img src="assets/images/Profile-pic.png" alt="" class="logo" />
        <ul>
          <li><a href="">Blog</a></li>
          <li><a href="">What's New</a></li>
          <li><a href="">Categories</a></li>
        </ul>
        <ul>
          <li><a href="">Projects</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Projects</a></li>
        </ul>
        <ul class="social-media">
          <li>
            <a href=""><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
        <form action="">
          <div class="input-wrap">
            <input type="search" placeholder="Search..." />
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="container">
      <a href="" class="brand">Brand</a>
      <div class="container-inner">
        <ul>
          <li><a href="">Home</a></li>

          <li><a href="">Home</a></li>

          <li><a href="">Home</a></li>
        </ul>
        <form action="">
          <div class="input-wrap">
            <input type="search" placeholder="Search.." />
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
      <i class="fas fa-bars" id="menu-btn" (click)="openMenu()"></i>
    </div>
  </nav>
</header>
